<div class="row FormClass">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        הוסף משתמש
      </div>
      <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit(f)" #f="ngForm" >
          <div class="row" >
            <div class="form-group" class="col-lg-6" *ngFor="let row of rows let i=index" style="margin-top: 15px;">
              <label >הכנס {{rowsNames[i]}} </label>
              <input type="text" class="form-control textWhite" formControlName="{{row}}" id="{{row}}" name="{{row}}"  required>
            </div>
          </div>

            <!--
          <div class="row">
            <div class="form-group" class="col-lg-12">
              <label for="formGroupExampleInput">פרטים נוספים</label>
              <textarea  rows="4" cols="50"  class="form-control textWhite" id="formGroupExampleInput" name="description" ngModel required> </textarea>
            </div>
          </div>
        <div class="row">
            <input #fileInput type="file"/>
        </div>
        -->
            <div class="row" align="left" style="float: left; margin-left: 5px">
              <button [disabled]="registerForm.invalid"  type="submit"
                      class="btn btn-primary btn-icon loading-demo mr-1 mb-1"
                      style="padding:0 20px !important; cursor: pointer; width: 205px; text-align: center; font-weight: bold; font-size: 16px">
                <span style="text-align: center; padding: 10px;  width: 100% !important;">שלח טופס</span>
              </button>
            </div>

        </form>
      </div>
    </div>
  </div>
</div>